{% extends "layout.html" %}
{% block contenido %}

<head>
   
    <style>
        body {background-color: rgb(158, 205, 214);}
    </style> 
    <style>
        .enlace1{
        display: inline-block;
        color: beige;
        text-decoration: none;
        background-color: rgb(79, 101, 121);
        padding: 0.5px;
        margin: 25 px 0 px;
        }
        </style>
</head>
<body>

    <a class="enlace1" href="inicio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ INICIO    
     </a>

    <h1 style="color: rgb(14, 77, 66);"> 
        <p align="center">
        ESTE ES UN PROYECTO DE APRENDIZAJE EL CUAL BUSCA CREAR UN SISTEMA
        DE REPORTE DE FALLAS DE AP, DE FÁCIL USO PARA EL USUARIO
     </p>
    </h1>
      
    <br>
    <br>
     <p align="center"> FLEYDER HERNANDEZ BOHORQUEZ </p>

     <p align="center"> APRENDIZ SENA </p>

     <p align="center"> Tecnología en Análisis y Desarrollo de Software </p>

     <p align="center"> Ficha 2834885 </p>

     <p align="center"> Bogotá D. C. </p>

     <p align="center"> 2026 </p>

     <br>
     <br> 

     <h1 style= "color:rgb(14, 77, 66)" >
           
        <p align="center">APRENDIENDO Y MEJORANDO UN POCO MÁS CADA DIA </p>

    </h1>
    
    {% endblock contenido %}
     
    