{% extends "layout.html" %}
{% block contenido %}
<head>
    
    <style> 
        .enlace1{
        display: inline-block;
        color: beige;
        text-decoration: none;
        background-color: rgb(79, 101, 121);
        padding: 0.5px;
        margin: 25 px 0 px;
        }
        </style>

<style>
    .enlace7{
    display: inline-block;
    color: beige;
    text-decoration: none;
    background-color: rgb(79, 101, 121);
    padding: 0.5px;
    margin: 25 px 0 px;
    }
    </style>
</head>

<body style="background: url('{{ url_for('static', filename='images/prioridad.jpeg') }}'); background-size: cover;">

<body>

    <a class="enlace1" href="inicio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ INICIO    
     </a>

     <a class="enlace7" href="consultar" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ REGRESAR    
     </a>
     <br>
     <br>
     <br>
     <br>
     <br>
   
          
     

    <h1 style= "color:rgb(243, 190, 46)">
        <p align="center">TRABAJAMOS PARA TÍ </p>
    </h1>
    <h1 style= "color:rgb(243, 190, 46)" >           
        <p align="center">TU SOLICITUD TIENE PRIORIDAD PRONTO ATENDEREMOS TU FALLA</p>
    </h1>     

</body>
{% endblock contenido %}
